@font-face {
  font-family: "Departure Mono";
  src: url("/public/departuremono/DepartureMono-Regular.woff2") format("woff2"),
  url("/public/departuremono/DepartureMono-Regular.woff") format("woff"),
  url("/public/departuremono/DepartureMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Departure Mono";
}

/* https://codepen.io/vram1980/pen/oNvWdO */
.ring-container {
  display: inline;
  position: relative;
  width: 25px;
  height: 25px;
  top: 3px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.ringring {
  border: 3px solid #62bd19;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 15px;
  top: 15px;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
